.header {
    background-color: rgba(7, 48, 66, 1);
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header__logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 70px;
}

@media screen and (max-width: 1279px) {
    .header__logo {
        margin: 18px 0 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        margin: 18px 0 18px 14px;
    }
}

.header__buttons {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .header__buttons {
        margin-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__buttons {
        margin-right: 14px;
    }
}

.header__button {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    border-style: none;
    background-color: transparent;
    color: white;
    padding: 0;
}

.header__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .header__button {
        font-size: 10px;
    }
}

.header__button_place_landing {
    color: black;
    width: 76px;
    height: 32px;
    background-color: rgba(61, 220, 132, 1);
    border-radius: 3px;
    margin-left: 30px;
}

.header__button_place_landing:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .header__button_place_landing {
        margin-left: 14px;
        width: 54px;
        height: 26px;
    }
}